/* ********************** */
@import 'svg-symbols';

/* vendors */
@import 'vendors/slick';
@import 'vendors/slick-theme';
@import 'vendors/nouislider';
@import 'vendors/choices';

/* base */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';
@import 'base/controls';

/* layouts */
@import 'layouts/default';
@import 'layouts/index';

/* mixins */
@import 'mixins/header';
@import 'mixins/textblock';
@import 'mixins/catalog-item';
@import 'mixins/review';
@import 'mixins/review-person';
@import 'mixins/radio-group';
@import 'mixins/tabs';
@import 'mixins/tab';

/* blocks */
@import 'blocks/advantages';
@import 'blocks/products';
@import 'blocks/product';
@import 'blocks/catalog';
@import 'blocks/brands';
@import 'blocks/reviews';
@import 'blocks/subscribe';
@import 'blocks/cart';
@import 'blocks/order';
@import 'blocks/filter-content';
@import 'blocks/footer';
@import 'blocks/cabinet';
@import 'blocks/articles';
@import 'blocks/delivery';
@import 'blocks/about';
@import 'blocks/product-card';
@import 'blocks/detail-article';
@import 'blocks/404';
@import 'blocks/contacts';


/*ui*/
@import 'ui/checkbox';

/*components*/
@import 'components/header-banner-attachment';
@import 'components/header-nav';
@import 'components/product-slider';
@import 'components/product-item';
@import 'components/cart-product';
@import 'components/counter';
@import 'components/subscribe-form';
@import 'components/order-form';
@import 'components/order-summary';
@import 'components/order-message';
@import 'components/cabinet-form';
@import 'components/cabinet-order';
@import 'components/filter';
@import 'components/filter-banner';
@import 'components/filter-range';
@import 'components/filter-select';
@import 'components/auth';
@import 'components/articles-review';
@import 'components/search';

html
{
	height: 100%;
}

body
{
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 375px;
	padding-top: 79px;
	transition: .3s;

	&.nav-is-fixed
	{
		padding-top: 59px;
	}
}

header.header
{
	flex: 0 0 auto;
}
section.content
{
	flex: 1 0 auto;
}
footer.footer
{
	flex: 0 0 auto;
}

.dropdown-arrow
{
	path
	{
		stroke: green;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

svg > use { fill: none; }

// прячем svg спрайт, но не скрываем т.к. display: none; ломает градиенты и т.д
.svg-symbol
{
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.container
{
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}

.row
{
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
}

@media (min-width: 576px)
{
	.container
	{
		max-width: 576px;
	}
}

@media (min-width: 768px)
{
	.container
	{
		max-width: 768px;
		padding-right: 24px;
		padding-left: 24px;
	}
}

@media (min-width: 992px)
{
	.container
	{
		max-width: 960px;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 1280px)
{
	.container
	{
		max-width: 1225px;
	}
}

@media (min-width: 1439px)
{
	.container
	{
		max-width: 1235px;
	}
}