.DS_Store
cache
sftp-config.json
/element/
config.php
/public/upload/
bower_components
/app/vendor
node_modules
.htpasswd
.htaccess
package-lock.json

/.idea
.idea
/web.config
/*web.config
/*.log
/*.sql
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
/*.txt
#!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*sftp-config.json
/*~
*/_*
/_*
/composer.*
/.phpintel

/.ftpconfig