.review
{
	padding: 0 17px;
	flex-basis: 50%;
	max-width: 50%;

	&:not(:last-child)
	{
		margin-bottom: 40px;
	}
}

.review__text
{
	font-size: 14px;
	line-height: 19px;
	color: $cBlackLight;
}

@media (max-width: 991px)
{
	.review
	{
		flex-basis: 100%;
		max-width: 100%;

		&:not(:last-child)
		{
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 767px)
{
	.review
	{
		padding: 0;

		&:not(:last-child)
		{
			margin-bottom: 30px;
		}
	}
}