.articles-review
	.articles-review__box
		.articles-review__title
			| Правильный уход за сухими волосами
		.articles-review__date
			| 12 апреля 2019г
		.articles-review__content
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		a(href="#" class="articles-review__more") Читать дальше

	.articles-review__box
		.articles-review__title
			| Правильный уход за сухими волосами
		.articles-review__date
			| 12 апреля 2019г
		.articles-review__content
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		a(href="#" class="articles-review__more") Читать дальше

	.articles-review__box
		.articles-review__title
			| Правильный уход за сухими волосами
		.articles-review__date
			| 12 апреля 2019г
		.articles-review__content
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		a(href="#" class="articles-review__more") Читать дальше

	.articles-review__box
		.articles-review__title
			| Правильный уход за сухими волосами
		.articles-review__date
			| 12 апреля 2019г
		.articles-review__content
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		a(href="#" class="articles-review__more") Читать дальше

	.articles-review__box
		.articles-review__title
			| Правильный уход за сухими волосами
		.articles-review__date
			| 12 апреля 2019г
		.articles-review__content
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		a(href="#" class="articles-review__more") Читать дальше

	button(class='articles-review__btn') Показать еще