.cabinet-order__box
	.cabinet-order__title История заказов

	.cabinet-order__order-form
		.cabinet-order__span-group
			span Заказ №212
			span.cabinet-order__date 12 апреля 2019г
		div.cabinet-order__order-group Сумма&nbsp;
			div.cabinet-order__value 2380 Р
		div.cabinet-order__order-group Товаров:&nbsp;
			div.cabinet-order__value 10
		div.cabinet-order__order-group Статус:&nbsp;
			div.cabinet-order__value в пути
		button.g-btn-grey-light.cabinet-order__btn
			| Связаться с менеджером

	.cabinet-order__order-form
		.cabinet-order__span-group
			span Заказ №212
			span.cabinet-order__date 12 апреля 2019г
		div.cabinet-order__order-group Сумма&nbsp;
			div.cabinet-order__value 2380 Р
		div.cabinet-order__order-group Товаров:&nbsp;
			div.cabinet-order__value 10
		div.cabinet-order__order-group Статус:&nbsp;
			div.cabinet-order__value в пути
		button.g-btn-grey-light.cabinet-order__btn
			| Связаться с менеджером

	.cabinet-order__order-form
		.cabinet-order__span-group
			span Заказ №212
			span.cabinet-order__date 12 апреля 2019г
		div.cabinet-order__order-group Сумма&nbsp;
			div.cabinet-order__value 2380 Р
		div.cabinet-order__order-group Товаров:&nbsp;
			div.cabinet-order__value 10
		div.cabinet-order__order-group Статус:&nbsp;
			div.cabinet-order__value в пути
		button.g-btn-grey-light.cabinet-order__btn
			| Связаться с менеджером

	.cabinet-order__order-form
		.cabinet-order__span-group
			span Заказ №212
			span.cabinet-order__date 12 апреля 2019г
		div.cabinet-order__order-group Сумма&nbsp;
			div.cabinet-order__value 2380 Р
		div.cabinet-order__order-group Товаров:&nbsp;
			div.cabinet-order__value 10
		div.cabinet-order__order-group Статус:&nbsp;
			div.cabinet-order__value в пути
		button.g-btn-grey-light.cabinet-order__btn
			| Связаться с менеджером