.cart-product
	.cart-product__avatar
		img(src="./img/product-placeholder.png", alt="")
	.cart-product__descr
		h3 Blond кондиционер для осветленных волос 250 мл
		small Артикул: 121221
		small Бренд: CocoChoco
		small Страна производства: Россия
	.cart-product__count
		include counter.pug
	.cart-product__price
		|1 380 ₽
	.cart-remove
		include ../../img/close.svg
