select(class="_filterSelect" name="choices-multiple-remove-button" placeholder="Выберите бренд" multiple)
	option(value="Choice 1" selected)
		| Keen
	option(value="Choice 2")
		| DPG
	option(value="Choice 3")
		| GA,MA
	option(value="Choice 4")
		| Choice 4
