.filter._toggleFilter
	.filter__range-wrapper
		.filter__title
			| Цена
		include ../components/filter-range.pug

	.filter__select-wrapper
		.filter__title
			| Бренды
		include ../components/filter-select.pug

	.filter__select-wrapper
		.filter__title
			| Формат
		include ../components/filter-select.pug

	button.g-btn-grey
		| Показать результаты

	button.g-btn-transparent
		| Сбросить