.header-banner-attachment
	a.header-banner-attachment__link
		| Посмотреть товары от бренда Babbyliss
		include ../../img/ic_arrow-right.svg
	p.header-banner-attachment__descr В числе наших товаров профессиональная продукция таких известных торговых марок как Sale, L`oreal, Wella, Kerastase, Schwarzkopf, Londa, Matrix, Ollin, Constant delight и других.