.order-message
	.order-message__text
		a(href='#') Зарегистрируйтесь
		span
			| &nbsp;и получите скидку в рамках&nbsp;
		a(href='#') дисконтной программы
	.order-message__close
		include ../../img/close.svg