.order-form__radio-group
	.order-form__title Тип плательщика
	.order-form__radio-name
		input(type='radio', name='physname', id='physname',checked)
		label(for='physname')
			| Физическое лицо

	.order-form__radio-name
		input(type='radio', name='physname', id='enti')
		label(for='enti')
			| Юридическое лицо