.articles
{
	margin-top: 30px;

	h1
	{
		@include fMain(bold);
		font-size: 24px;
		line-height: 33px;
		color: $cBlack;
	}

	.tabs li
	{
		padding: 0;

		a
		{
			display: block;
			padding: 0 19px;
			color: $cBlackLight;
		}
	}
}

@media (max-width: 991px)
{
	.articles
	{
		.tabs__list
		{
			flex-direction: column;
		}
	}
}


