section.advantages
	.container
		+textBlock('Наши преимущества')
			| Мы гарантируем качество и оригинальное происхождение представленной на сайте продукции.
			br
			| Ни один из препаратов не является просроченным или поддельным.

		.advantages-items
			.advantages-item
				.advantages-item__icon
					include ../../img/ic_shopping-bag.svg

				.advantages-item__title
					| Огромный ассортимент

				.advantages-item__descr
					| качественных товаров

			.advantages-item
				.advantages-item__icon
					include ../../img/ic_discount.svg

				.advantages-item__title
					| Постоянные скидки

				.advantages-item__descr
					| постоянные скидки и акции

			.advantages-item
				.advantages-item__icon
					include ../../img/ic_rate.svg

				.advantages-item__title
					| Отличное обслуживание

				.advantages-item__descr
					| Персональный подход
