script(src="./js/main.min.js")
footer.footer
	.container
		a(href="#").footer__logo
			img(src="./img/logo--footer.png", alt="")

		nav.footer-nav
			.footer-nav-item
				.footer-nav-item__title
					| Информация для клиентов

				ul.footer-nav-item__list
					li
						a(href="#") Условия оплаты и доставки

					li
						a(href="#") Политика конфидециальности

					li
						a(href="#") Политика возвратов

					li
						a(href="#") Публичная оферта

			.footer-nav-item
				.footer-nav-item__title
					| О компании

				ul.footer-nav-item__list
					li
						a(href="#") О магазине

					li
						a(href="#") Наши бренды

					li
						a(href="#") Контакты

					li
						a(href="#") Новости

			.footer-nav-item
				.footer-nav-item__title
					| Популярные запросы

				ul.footer-nav-item__list
					li
						a(href="#") Духи хорошие

					li
						a(href="#") Ножницы

					li
						a(href="#") Подарок для жены

					li
						a(href="#") Тени

			.footer-nav-item
				.footer-nav-item__title
					| Контактные данные

				ul.footer-nav-item__list
					li
						span Тел. &nbsp;
						a(href="tel:+78672541268") +7 (8672) 54-12-68
						span &nbsp; г. Владикавказ, ул. Ватутина 62

					li
						span Тел. &nbsp;
						a(href="tel:+7867250174") +7 (8672) 50-17-4
						span &nbsp; г. Владикавказ, ул. Маркуса 33

				.footer-nav-item__social
					a(href="#")
						include ../../img/ic_ig.svg

					a(href="#")
						include ../../img/ic_vk.svg

					a(href="#")
						include ../../img/ic_fb.svg
