.product-item
	a(href="#" class="product-item__img")
		img(src="./img/product-placeholder.png", alt="")

	.product-item__specs
		.product-item__left
			a(href="#" class="product-item__title") BEBYLISS

			.product-item__descr
				| Blond кондиционер для осветленных волос 250 мл

			.product-item__price 1 380 ₽

		button.product-item__buy
			include ../../img/ic_cart--item.svg