include ../mixins/review.pug
section.reviews
	.container
		+textBlock('Отзывы наших клиентов')
			| Мы предлагаем Вашему вниманию продукцию известных марок, отлично зарекомендовавшие
			br
			| себя среди профессионалов и подходящие для ежедневного домашнего использования.

		.row
			+review('roman.jpg', 'Роман', 'Покупка оборудования BABYLISS')
				| Ребята из Профессионала, вам большой зачёт! За то, что создали такой удобный и крутой сервис, а также за то, что не забывали о нас в течение всей поездки. Чувствуется, что вам нравится ваша работа, и вы ответственно к ней

			+review('helena.jpg', 'Елена', 'Покупка оборудования BABYLISS')
				| Большое спасибо менеджеру Антону из фирмы Профессионал. Очень грамотно и быстро подобрал нам тур, с учетом всех пожеланий и заморочек. Ну а дальше все, как по нотам: моментально забронировали, оплатили, и получили все