extends layouts/default.pug

block content
	section.about
		.container
			h1 О компании
				p История косметики началась еще в те незапамятные времена, когда наш предок осваивал нехитрые орудия охоты и труда, а его прекрасная половина разглядывала свое отражение в глади ледникового озера и с помощью золы и сока доисторических растений постигала искусство макияжа. Рецепты первобытных красавиц довели до совершенства египтянки, овладевшие техникой коррекции бровей и секретами окраски волос.

				p Сегодня каждая женщина восхитительна и, благодаря косметике, она может подчеркнуть свои достоинства и скрыть недостатки. Однако найти подходящую косметику порой бывает нелегко. Сделать это с минимальными затратами поможет наш магазин.

				p Магазин "Профессионал" начал работать в 2000 году. В основу магазина легло желание основателей дать возможность жителям республики пользоваться лучшими продуктами, предлагаемыми на мировом рынке.

				p Благодаря высокому качеству предлагаемой продукции, большому ассортименту и нашим специалистам магазин "Профессионал" за небольшой период времени стал одним из лидеров в области продаж профессиональной косметики, оборудования для салонов, аксессуаров для волос и ногтей, как для домашнего применения, так и для специалистов индустрии красоты.

				p У нас более 5000 видов продукции самых известных и крупных фирм. Мы постоянно расширяем ассортимент товаров в магазине и активно работаем над тем, чтобы покупки в нашем магазине стали еще быстрее и удобнее!

				p Мы предлагаем Вашему вниманию продукцию известных марок, отлично зарекомендовавшие себя среди профессионалов и подходящие для ежедневного домашнего использования.

				p В основе работы компании - индивидуальный подход к каждому клиенту, профессиональная информационная поддержка, ответственность за каждого.

				p Мы гарантируем качество и оригинальное происхождение представленной на сайте продукции. Ни один из препаратов не является просроченным или поддельным.

				p Мы гарантируем секретность всей конфиденциальной информации, поступающей от клиентов.

				ul Итак, наша продукция самая качественная, потому что:
					li - Мы поставляем косметику от лидеров по производству профессиональной косметики.
					li -  Мы не сотрудничаем с непроверенными производителями, качество продукции которых может подлежать сомнению.
					li - Мы не продаем так называемый "конфискат" по низким ценам, потому что это очередной обман, а проще говоря, поддельная продукция, поэтому и стоит она так дешево.
					li - Мы осведомлены об условиях хранения различных типов косметической продукции и строго соблюдаем их.
					li - Мы тщательно отслеживаем косметическую продукцию, сроки годности которой заканчиваются, и заблаговременно выставляем ее в распродажу по сниженным ценам.

				p Желаем Вам приятных покупок в наших магазинах расположенных по адресу:<br>
					| РСО-Алания<br>
					| г. Владикавказ<br>
					| ул. Ватутина 62<br>
					| т/ф. 8(8672)54-12-68
					| ул. Маркуса 33
					| тел. 8(8672)50-17-4