extends layouts/default.pug

block header
	+header('header--big')

block content
	include blocks/advantages.pug
	include blocks/products.pug
	include blocks/catalog.pug
	include blocks/brands.pug
	include blocks/reviews.pug